@import url('https://fonts.googleapis.com/css?family=Khand|Open+Sans');
body, html {
	font-size: $qt-base-mobile;
	line-height: $qt-lineheight-mobile;
	font-family: 'Open Sans', sans-serif;
}

strong {
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6, .qt-btn, .qt-capfont, caption {
	font-family: 'Khand', sans-serif;
	font-weight: 600;
}

.qt-menubar-top, .qt-menubar, .qt-side-nav, .qt-menu-footer {
	font-family: 'Khand', sans-serif;
	font-weight: 400;
}